In [1]:
import pandas as pd
import core.methods as m1

2025-01-13 02:41:08.199 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [2]:
df_dis = pd.read_csv("data/datasets/Ladesaeulenregister.csv", sep=";")
# df_plz = pd.read_csv("data/datasets/plz_einwohner.csv", sep=",")
# df_vk = pd.read_csv("data/datasets/Verkehrsaufkommen.csv", sep=";")

C:\Users\sebas\AppData\Local\Temp\ipykernel_8112\3201622903.py:1: DtypeWarning: Columns (21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dis = pd.read_csv("data/datasets/Ladesaeulenregister.csv", sep=";")

In [4]:
len(df_dis.columns)

26

In [14]:
df_tt = df_dis[df_dis["Bundesland"] == "Italy"].copy()
len(df_tt)

0

In [12]:
df_tt.loc[0,:] = [None]*len(df_tt.columns)

In [17]:
df_tt.round({"Postleitzahl":0})

Empty DataFrame
Columns: [Betreiber, Stra√üe, Hausnummer, Adresszusatz, Postleitzahl, Ort, Bundesland, Kreis/kreisfreie Stadt, Breitengrad, L√§ngengrad, Inbetriebnahmedatum, Nennleistung Ladeeinrichtung [kW], Art der Ladeeinrichung, Anzahl Ladepunkte, Steckertypen1, P1 [kW], Public Key1, Steckertypen2, P2 [kW], Public Key2, Steckertypen3, P3 [kW], Public Key3, Steckertypen4, P4 [kW], Public Key4]
Index: []

[0 rows x 26 columns]

In [5]:
df_dis["Nennleistung Ladeeinrichtung [kW]"]

0         22
1         22
2         22
3         93
4         22
        ...
69381     44
69382     44
69383     30
69384    NaN
69385    NaN
Name: Nennleistung Ladeeinrichtung [kW], Length: 69386, dtype: object

In [6]:
df_dis[df_dis["Nennleistung Ladeeinrichtung [kW]"] != None]

,Betreiber,Stra√üe,Hausnummer,Adresszusatz,Postleitzahl,Ort,Bundesland,Kreis/kreisfreie Stadt,Breitengrad,L√§ngengrad,...,Public Key1,Steckertypen2,P2 [kW],Public Key2,Steckertypen3,P3 [kW],Public Key3,Steckertypen4,P4 [kW],Public Key4
0,Albwerk GmbH & Co. KG,Ennabeurer Weg,0,NaN,72535.0,Heroldstatt,Baden-W√ºrttemberg,Landkreis Alb-Donau-Kreis,"48,442398","9,659075",...,NaN,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,smopi,Albstra√üe,14,NaN,72535.0,Heroldstatt,Baden-W√ºrttemberg,Landkreis Alb-Donau-Kreis,"48,449353","9,672201",...,NaN,AC Steckdose Typ 2,22,NaN,AC Steckdose Typ 2,22,NaN,AC Steckdose Typ 2,22,NaN
2,Albwerk GmbH & Co. KG,Parkplatz Campingplatz,0,NaN,72589.0,Westerheim,Baden-W√ºrttemberg,Landkreis Alb-Donau-Kreis,"48,5105","9,609",...,NaN,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EnBW mobility+ AG und Co.KG,Hauptstra√üe,91c,NaN,73340.0,Amstetten,Baden-W√ºrttemberg,Landkreis Alb-Donau-Kreis,"48,578534","9,87484",...,NaN,"DC Kupplung Combo, DC CHAdeMO",50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SWU Energie GmbH,Sterngasse,6,NaN,88481.0,Balzheim,Baden-W√ºrttemberg,Landkreis Alb-Donau-Kreis,"48,179959","10,076977",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69381,Stadtwerke Weimar Stadtversorgungs-GmbH,Wunderwaldstra√üe,2a,NaN,99518.0,Bad Sulza,Th√ºringen,Landkreis Weimarer Land,"51,092527","11,628574",...,NaN,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69382,eva,Lachenweg,13,NaN,99518.0,Bad Sulza,Th√ºringen,Landkreis Weimarer Land,"51,096202","11,628901",...,NaN,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69383,TEAG Mobil GmbH,Sulzaer Stra√üe,0,NaN,99518.0,Gro√üheringen,Th√ºringen,Landkreis Weimarer Land,"51,107188","11,659489",...,3059301306072A8648CE3D020106082A8648CE3D030107...,AC Steckdose Typ 2,22,3059301306072A8648CE3D020106082A8648CE3D030107...,NaN,NaN,NaN,NaN,NaN,NaN
69384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dframe3                 = df_dis[(df_dis["Postleitzahl"] > 10000) &  (df_dis["Postleitzahl"] < 14200)]

In [8]:
dframe3[dframe3["Nennleistung Ladeeinrichtung [kW]"] != None].loc[26556]

Betreiber                            Design Offices GmbH (K√∂ln)
Stra√üe                                             Gartenstra√üe
Hausnummer                                                   87
Adresszusatz                                                NaN
Postleitzahl                                            10115.0
Ort                                                      Berlin
Bundesland                                               Berlin
Kreis/kreisfreie Stadt                  Kreisfreie Stadt Berlin
Breitengrad                                          52,5327098
L√§ngengrad                                           13,3883113
Inbetriebnahmedatum                                  25.07.2022
Nennleistung Ladeeinrichtung [kW]                            22
Art der Ladeeinrichung                    Normalladeeinrichtung
Anzahl Ladepunkte                                           1.0
Steckertypen1                                AC Steckdose Typ 2
P1 [kW]                                                      22
Public Key1                                                 NaN
Steckertypen2                                               NaN
P2 [kW]                                                     NaN
Public Key2                                                 NaN
Steckertypen3                                               NaN
P3 [kW]                                                     NaN
Public Key3                                                 NaN
Steckertypen4                                               NaN
P4 [kW]                                                     NaN
Public Key4                                                 NaN
Name: 26556, dtype: object

In [9]:
dframe3["Nennleistung Ladeeinrichtung [kW]"].unique()

array(['22', '30', '44', '175', '11', '3,7', '93', '150', '50', '300',
       '72', '75', '144', '320', '600', '77', '39,6', '42', '52', '180',
       '24', '88', '350', '360', '66', '250', '43', '97', '92', '6',
       '39,65', '120', '13,2', '156', '160', '96', '122', '132', '184',
       '225', '100'], dtype=object)

In [10]:
dframe3[dframe3["Postleitzahl"] == 10115].loc[26555:26559]["P1 [kW]"]

26555    11
26556    22
26557    22
26558    22
26559    22
Name: P1 [kW], dtype: object

In [11]:
sorted(dframe3["Nennleistung Ladeeinrichtung [kW]"].unique())

['100',
 '11',
 '120',
 '122',
 '13,2',
 '132',
 '144',
 '150',
 '156',
 '160',
 '175',
 '180',
 '184',
 '22',
 '225',
 '24',
 '250',
 '3,7',
 '30',
 '300',
 '320',
 '350',
 '360',
 '39,6',
 '39,65',
 '42',
 '43',
 '44',
 '50',
 '52',
 '6',
 '600',
 '66',
 '72',
 '75',
 '77',
 '88',
 '92',
 '93',
 '96',
 '97']

In [20]:
dframe3[dframe3["Bundesland"] != "Berlin"].loc[:,"Bundesland"].to_list()

['Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Brandenburg',
 'Hamburg',
 'Mecklenburg-Vorpommern',
 'Mecklenburg-Vorpommern']

In [26]:
"ü´ì"

'ü´ì'

In [53]:
import emoji # Needs 'pip install emoji'

In [54]:
emoji.emojize(":check_mark:",language='alias'), emoji.emojize(":cross_mark:",language='alias')

('‚úîÔ∏è', '‚ùå')

In [52]:
":cross_mark:"

':cross_mark:'

In [29]:
[":coffee:"].apply(lambda x: emoji.emojize(x))

AttributeError: 'list' object has no attribute 'apply'

In [16]:
dframe3[dframe3["Bundesland"].str.contains("Berlin")]

,Betreiber,Stra√üe,Hausnummer,Adresszusatz,Postleitzahl,Ort,Bundesland,Kreis/kreisfreie Stadt,Breitengrad,L√§ngengrad,...,Public Key1,Steckertypen2,P2 [kW],Public Key2,Steckertypen3,P3 [kW],Public Key3,Steckertypen4,P4 [kW],Public Key4
26555,Design Offices GmbH (K√∂ln),Gartenstra√üe,87,NaN,10115.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,5327098","13,3883113",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26556,Design Offices GmbH (K√∂ln),Gartenstra√üe,87,NaN,10115.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,5327098","13,3883113",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26557,Design Offices GmbH (K√∂ln),Gartenstra√üe,87,NaN,10115.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,5327098","13,3883113",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26558,Design Offices GmbH (K√∂ln),Gartenstra√üe,87,NaN,10115.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,5327098","13,3883113",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26559,Design Offices GmbH (K√∂ln),Gartenstra√üe,87,NaN,10115.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,5327098","13,3883113",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29323,Berliner Stadtwerke KommunalPartner GmbH,Warnem√ºnder Str.,7,NaN,14199.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,47361","13,290291",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29324,Berliner Stadtwerke KommunalPartner GmbH,Berkaer Str.,40,NaN,14199.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,476902","13,287843",...,NaN,AC Steckdose Typ 2,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29325,Berliner Stadtwerke KommunalPartner GmbH,Kissinger Str.,16,NaN,14199.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,479021","13,292588",...,NaN,AC Steckdose Typ 2,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29326,Berliner Stadtwerke KommunalPartner GmbH,Hohenzollerndamm,137,NaN,14199.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,484282","13,294078",...,NaN,AC Steckdose Typ 2,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29327,E.ON Drive Infrastructure,Fritz-Wildung-Stra√üe,26,NaN,14199.0,Berlin,Berlin,Kreisfreie Stadt Berlin,"52,483647","13,29782",...,NaN,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
"Hallo \
Du"

'Hallo Du'

In [ ]:
df_dis[df_dis["Nennleistung Ladeeinrichtung [kW]"] != None]

In [14]:
df_plz

,plz,note,einwohner,qkm,lat,lon
0,1067,01067 Dresden,11957,6.866839,51.06019,13.71117
1,1069,01069 Dresden,25483,5.339213,51.03964,13.73030
2,1097,01097 Dresden,14821,3.298022,51.06945,13.73781
3,1099,01099 Dresden,28018,58.505818,51.09272,13.82842
4,1108,01108 Dresden,5876,16.447222,51.15180,13.79227
...,...,...,...,...,...,...
8165,99988,99988 S√ºdeichsfeld,4866,40.320629,51.17553,10.26564
8166,99991,99991 Unstrut-Hainich,5269,96.922943,51.12179,10.49575
8167,99994,"99994 Marolterode, Nottertal-Heilinger H√∂hen",6384,81.700264,51.23117,10.66455
8168,99996,99996 Unstruttal,6751,100.496013,51.28005,10.43125
8169,99998,"99998 K√∂rner, Weinbergen",4942,74.291525,51.20936,10.56753

In [15]:
df_vk

,Technischer Schl√ºssel,Link-ID,Detailnetz-Nr.,VP_von,VP_bis,Von-Station,Bis-Station,Verkehrsrichtung,Verkehrsebene,Stra√üentyp,StEP-Klasse,OKSTRA-Klasse,RBS-Klasse,Stra√üenname,Bezirk,Ortsteil,DTVw-2019-Kfz,DTVw-2019-Lkw
0,506,40520002_40520068,40520002_40520068.01,"40520002,00","40520068,00","0,00","17,00",B,"0,00",S,II,G,STRA,Kurf√ºrstendamm,Charlottenburg-Wilmersdorf,Charlottenburg,"24400,00","270,00"
1,1426,57590018_57590019,57590018_57590019.02,"57590018,00","57590019,00","0,00","100,00",B,"2,00",S,II,B,STRA,M√§rkische Allee,Marzahn-Hellersdorf,Marzahn,"14200,00","710,00"
2,1506,45540043_T0023560,45540043_45530010.01,"45540043,00","45530010,00","0,00","87,00",B,"0,00",S,II,G,STRA,Wilhelmstra√üe,Mitte,Mitte,"8400,00","320,00"
3,1596,37480003_T0024150,37480003_37470026.01,"37480003,00","37470026,00","0,00","109,00",B,"0,00",S,III,G,STRA,H√ºttenweg,Steglitz-Zehlendorf,Dahlem,"8800,00","170,00"
4,1711,38520058_38520059,38520058_38520059.02,"38520058,00","38520059,00","0,00","67,00",B,"0,00",S,II,G,STRA,Schwarzbacher Stra√üe,Charlottenburg-Wilmersdorf,Halensee,"7300,00","140,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9917,9917,49580045_49580043,49580045_49580043.01,"49580045,00","49580043,00","0,00","23,00",R,"0,00",S,III,G,STRA,Hamburger Platz,Pankow,Wei√üensee,"9500,00","210,00"
9918,9918,49480019_49480043,49480019_49480043.02,"49480019,00","49480043,00","0,00","278,00",R,"-1,00",A,I,A,AUBA,100 AS Buschkruga Einfahrt v Buschkruga >N,Neuk√∂lln,Britz,"6600,00","260,00"
9919,9919,38550010_38550012,38550010_38550012.02,"38550010,00","38550012,00","0,00","39,00",B,"2,00",S,II,G,STRA,Spandauer Damm,Charlottenburg-Wilmersdorf,Charlottenburg,"51700,00","2220,00"
9920,9921,38520065_38520051,38520065_38520051.02,"38520065,00","38520051,00","0,00","59,00",R,"0,00",S,II,G,STRA,Rathenauplatz,Charlottenburg-Wilmersdorf,Grunewald,"27900,00","570,00"
9921,9922,48480021_48480020,48480021_48480020.01,"48480021,00","48480020,00","0,00","37,00",B,"0,00",S,II,G,STRA,Britzer Damm,Neuk√∂lln,Britz,"24700,00","710,00"

In [14]:
import numpy as np
import pandas as pd

In [15]:
available_station_value = np.random.choice([True,False], 100)

In [16]:
available_station = [{f"is_widget": value} for value in available_station_value.tolist()]

In [17]:
available_station_value

array([False, False, False,  True, False,  True, False, False,  True,
       False,  True,  True, False,  True, False, False,  True, False,
        True,  True, False,  True,  True, False, False,  True,  True,
       False, False,  True, False,  True,  True, False, False, False,
        True, False, False,  True,  True, False, False,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False,  True,
       False,  True,  True,  True, False,  True, False,  True,  True,
       False, False,  True, False,  True, False, False, False, False,
       False,  True,  True, False, False,  True,  True,  True,  True,
       False, False,  True, False, False, False, False, False, False,
        True])

In [18]:
available_station

[{'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': False},
 {'is_widget': True}]

In [20]:
df_av = pd.DataFrame(available_station)

In [21]:
pd.concat([df_av,df_av], axis=1)

    is_widget  is_widget
0       False      False
1       False      False
2       False      False
3        True       True
4       False      False
..        ...        ...
95      False      False
96      False      False
97      False      False
98      False      False
99       True       True

[100 rows x 2 columns]

In [22]:
df_av.shape

(100, 1)

In [23]:
import json

In [30]:
try:
    with open("DataBase_user_changes.json", "r") as file:
            user_database = json.load(file)
except:
    with open("DataBase_user_changes.json", "w") as file:
         json.dump({}, file)
user_database

{}

In [32]:
user_database["test1"] = {"testes": "case", "other":"stuff"}
with open("DataBase_user_changes.json", "w") as file:
         json.dump(user_database, file)

In [34]:
df = pd.DataFrame(user_database)

In [41]:
df.columns

Index(['test', 'test1'], dtype='object')

In [44]:
df2 = pd.DataFrame(columns=df.columns)

In [50]:
df2.loc[3,:] = [2,3]

In [51]:
df2

  test test1
0    2     3
1    2     3
3    2     3

In [56]:
import datetime

In [79]:
datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S") #.time()

'2025-01-09 17:29:08'

In [86]:
df2.columns.to_list() + ["Comment", "Rating"]

['test', 'test1', 'Comment', 'Rating']

In [88]:
list(range(1,6))

[1, 2, 3, 4, 5]